# In the .gitignore we decide what does NOT get tracked
keys/
/.quarto/
**/*.quarto_ipynb
_site/
index_files/

# Often times you would also include this (commented out here so you have the examples):
# .claude/
# .vscode/
# data/